.cuted-cell {
    overflow: hidden;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 1;
    -moz-box-orient: vertical;
    word-break: break-all;
    padding-top: 4px;
    max-width: 200px;
}

.block-playlist {
    border-radius: 10%;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 15px;
    transition: 0.5s;
    cursor: pointer;
  }

  .block-button {
    width: 100px;
    height: 40px;
    display: inline-block;
    transition: 0.5s !important;
    cursor: pointer;
    color: white !important;
  }
  
  .block-button:hover {
    transform: scale(1.1);
  }

  .block-playlist:hover {
    transform: scale(1.1);
  }
  
  .welcome,
  .welcome__progress {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(228, 65, 173, 1) 100%
    );
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
  }